.nav_bar {
    display: flex;
    flex-wrap: wrap;
    background-color:dodgerblue;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;
    padding-right: 10rem;
   color: white;
  }
  .nav_bar p:first-child
  {
      font-size: 1.4rem;
  }
  #bold_H
  {
    font-weight : bold;
  }
h2{
    color : rgb(80,80,80)
}
#cardheading{
    color : rgb(80,80,80);
    font-weight: bold;
}
.user
{
    display: flex;
    justify-content: center;
}
.form
{
width: 600px;
  border: 1px solid black;
 justify-content: center;
 margin: 0 auto;
 border-radius: 5px;

}
input{
    
    width: 450px;
}
input, label {
    margin: 5px;
    color: rgb(80,80,80);
    font-weight : bold;
  }

.buttonsclass
{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.button2{
    background-color :dodgerblue;
}
select
{
    width: 450px;
}
.cards{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 90px;
    
}
.cards > div
{

    align-items: flex-start;
    margin: 10px;
    border: 1px solid black;
    border-radius: 25px;
    
    width: 25rem;
   
    text-align: center;
   

}